name: Experimento 2 - Manejo de Errores

on:
  push:
    branches: [ "main" ]

jobs:

  IF:
    runs-on: ubuntu-latest
    steps:
      - run: echo "IF: Fetch instruccion"

  ID:
    needs: IF
    runs-on: ubuntu-latest
    steps: 
      - run: echo "ID: Decode"

  EX:
    needs: ID
    runs-on: ubuntu-latest
    steps:
      - name: Error en ALU
        run: |
          echo "EX: Error aritmetico (division por cero)"
          exit 1

  MEM:
    needs: EX
    runs-on: ubuntu-latest
    steps:
      - run: echo "MEM: Acceso memoria"

  WB:
    needs: MEM
    runs-on: ubuntu-latest
    steps:
      - run: echo "WB: Escritura final"
