name: Nuestro Pipeline 

on:
  push:
    branches: [ "main" ]

jobs:

  IF:
    runs-on: ubuntu-latest
    steps:
      - name: IF - Instruction Fetch
        run: |
          echo "IF: Obteniendo instruccion desde memoria..."
          sleep 2

  ID:
    needs: IF
    runs-on: ubuntu-latest
    steps:
      - name: ID - Instruction Decode
        run: |
          echo "ID: Decodificando instruccion y leyendo registros..."
          sleep 2

  EX:
    needs: ID
    runs-on: ubuntu-latest
    steps:
      - name: EX - Execute
        run: |
          echo "EX: Ejecutando operacion en la ALU..."
          sleep 2

  MEM:
    needs: EX
    runs-on: ubuntu-latest
    steps:
      - name: MEM - Memory Access
        run: |
          echo "MEM: Accediendo a memoria RAM..."
          sleep 2

  WB:
    needs: MEM
    runs-on: ubuntu-latest
    steps:
      - name: WB - Write Back
        run: |
          echo "WB: Escribiendo resultado en registro..."
          sleep 2
          echo "Instruccion completada correctamente."
