name: Nuestro Pipeline 

on:
  push:
    branches: [ "main" ]

jobs:

  Integracion:
    runs-on: ubuntu-latest
    steps:
      - name: Obtener código fuente
        uses: actions/checkout@v4

  Construccion:
    needs: Integracion
    runs-on: ubuntu-latest
    steps:
      - name: Construyendo aplicación
        run: |
          echo "Preparando entorno..."
          sleep 2
          echo "Compilando proyecto..."
          sleep 3
          echo "Build exitoso."

  Pruebas:
    needs: Construccion
    runs-on: ubuntu-latest
    steps:
      - name: Ejecutando pruebas
        run: |
          echo "Corriendo pruebas unitarias..."
          sleep 3
          echo "Pruebas correctas."

  Empaquetado:
    needs: Pruebas
    runs-on: ubuntu-latest
    steps:
      - name: Generando artefacto
        run: |
          echo "Empaquetando aplicación..."
          sleep 2
          echo "Archivo listo para distribución."

  Despliegue:
    needs: Empaquetado
    runs-on: ubuntu-latest
    steps:
      - name: Publicando en producción
        run: |
          echo "Subiendo al servidor..."
          sleep 2
          echo "Aplicación desplegada."
